<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meghana.shopfriend">
<uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="StartPage"
            android:label="ShopFriend"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="BillPage"></activity>
        <activity android:name="OnlineSite"></activity>

        <activity android:name="paytm"></activity>
        <activity android:name="tez"></activity>
        <activity android:name="sbi"></activity>
        <activity android:name="icici"></activity>
        <activity android:name="hdfc"></activity>

        <activity android:name="Locate"></activity>
        <activity android:name="offers"></activity>
        <activity android:name="ListPage"></activity>

    </application>

</manifest>